<h1>Listing computers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Type</th>
    <th>Present</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @computers.each do |computer| %>
  <tr>
    <td><%= computer.title %></td>
    <td><%= computer.description %></td>
    <td><%= computer.price %></td>
    <td><%= computer.type %></td>
    <td><%= computer.present %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Computer', new_computer_path %>
